%font-family-aromo {
	font-family: "Arimo", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

%font-family-aromo_700 {
	font-family: "Arimo", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
