#grid-container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	min-height: 100%;
	width: 100%;
}

.main-content {
	display: flex;
	flex-direction: column;
	&__section_introduction {
		display: grid;
		justify-items: center;
		margin: 2rem;
		grid-template-areas: "video_main text_main";
	}
	&__section_directions {
		width: 100%;
	}
	&__block_video {
		grid-area: video_main;
	}
	&__block-text {
		width: 40rem;
		padding: 2rem;
		margin: 2rem;
		grid-area: text_main;
		background: linear-gradient(
			45deg,
			hsla(184, 78%, 93%, 0.788),
			hsl(212, 92%, 90%),
			hsl(237, 88%, 91%)
		);
		border-radius: 62px;
		&__paragraph_one {
			@extend %font-family-aromo;
		}
		&__paragraph_two {
			@extend %font-family-aromo_700;
		}
	}
	&__block-directions_organization {
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-areas:
			"A    A    A "
			"B    f    C "
			"B    f    C";
		background-color: hsl(240, 90%, 96%);
		width: 100%;
	}
	&__h1 {
		grid-area: A;
		@extend %font-family-aromo_700;
	}
	&__grid-row_1 {
		grid-area: B;
		@extend %font-family-aromo;
	}
	&__grid-row_2 {
		grid-area: C;
		@extend %font-family-aromo;
	}
	&__paragraph_about_help,
	&__paragraph_about_sports,
	&__paragraph_about_education,
	&__paragraph_about_culture,
	&__paragraph_about_sociality {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		/* Отступы между колонками */
		column-gap: 20px;
		margin: 1rem;
		width: 33rem;
	}
	&__text-directions {
		@extend %font-family-aromo;
	}
	&__section-text {
		display: grid;
		width: 50%;
		grid-template-areas:
			"D A A "
			"D B B";
		justify-content: center;
		justify-items: center;
		padding: 2rem 15rem 3rem 27rem;
		&__paragraph_purpose {
			margin: 3rem 1rem 0rem 1rem;
			grid-area: A;
			@extend %font-family-aromo;
			&__slogan {
				font-size: 1.5rem;
				grid-area: B;
				@extend %font-family-aromo_700;
			}
		}
	}
}

.block__icon {
	max-width: 4.5rem;
}
.icons-family {
	grid-area: D;
}
.wave {
	--c: #007ab6;
	--t: -23px;
	--h: 27px;
	--w: 315px;
	--p: 10.7px;
	background: radial-gradient(
			farthest-side at 34% calc(124% + var(--p)),
			transparent 51%,
			var(--c) 54% calc(65% + var(--t)),
			transparent calc(67% + var(--t))
		),
		radial-gradient(
			farthest-side at 48% calc(-72% - var(--p)),
			transparent 70%,
			var(--c) 72% calc(84% + var(--t)),
			transparent calc(88% + var(--t))
		);
	background-size: var(--w) var(--h);
	background-position: calc(var(--w) / 2) calc(var(--h) / 2),
		-44px calc(var(--h) / 2);
	margin: 28px 0;
	display: inline-block;
	width: 100%;
	height: 26px;
}

.img_p {
	width: 361px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-template-areas:
		"A A"
		"N D";
	gap: 0.5rem;
	background: url(/assets/icons/1613326244_13-p-krasivii-sinii-fon-gradient-20.jpg);
	/* border-radius: 78px; */
	margin: 1rem;
	align-items: baseline;
}

.img-1 {
	width: 100%;
	grid-area: N;
}

.img-2 {
	width: 100%;
	grid-area: A;
}
.img-3 {
	width: 100%;
	grid-area: D;
}

.slick-dots {
	display: flex !important;
}
