#grid-container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	min-height: 100%;
	width: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	margin: 12rem 0 0;
	&__introduction {
		display: grid;
		justify-items: center;
		justify-content: center;
		margin: 5rem;
		grid-template-areas: "video_main text_main";
		align-items: center;
	}
	&__section_directions {
		width: 100%;
	}
	&__video {
		grid-area: video_main;
	}
	&__text {
		width: 35rem;
		height: 13rem;
		padding: 2rem;
		margin: 2rem;
		grid-area: text_main;
		background: linear-gradient(
			45deg,
			hsla(184, 78%, 93%, 0.788),
			hsl(212, 92%, 90%),
			hsl(237, 88%, 91%)
		);
		border-radius: 62px;
	}
	&__paragraph-one {
		@extend %font-family-aromo;
	}
	&__paragraph-two {
		padding: 3rem 0rem 0rem 0rem;
		@extend %font-family-aromo_700;
	}
	&__directions-organization {
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-areas:
			"A    A    A "
			"B    f    C "
			"B    f    C";
		background-color: hsl(240, 90%, 96%);
		width: 100%;
		gap: 2rem;
	}
	&__title {
		grid-area: A;
		@extend %font-family-aromo_700;
	}
	&__column-1 {
		grid-area: B;
		@extend %font-family-aromo;
	}
	&__column-2 {
		grid-area: C;
		@extend %font-family-aromo;
	}
	&__container-text-img {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		/* Отступы между колонками */
		column-gap: 20px;
		margin: 1.3rem;
		width: 33rem;
	}
	&__text-directions {
		@extend %font-family-aromo;
	}
	&__section-text {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(4, 2fr);
		display: grid;
		width: 100%;
		height: 45%;
		grid-template-areas:
			"E E E E E E E E"
			"W W D A A A O O"
			"W W D B B B O O";
		justify-items: center;
		align-items: center;
	}
	&__purpose {
		display: flex;
		margin: 1rem 10rem 0rem 1rem;
		width: 32rem;
		text-align: center;
		grid-area: A;
		flex-direction: column;
		@extend %font-family-aromo;
	}
	&__slogan {
		margin: 1rem 10rem 0rem 1rem;
		font-size: 1.5rem;
		grid-area: B;
		@extend %font-family-aromo_700;
	}
	&__icon {
		max-width: 4.5rem;
	}
	&__icons-family {
		grid-area: D;
	}
}

.wave {
	--c: #007ab6;
	--t: -23px;
	--h: 27px;
	--w: 315px;
	--p: 10.7px;
	background: radial-gradient(
			farthest-side at 34% calc(124% + var(--p)),
			transparent 51%,
			var(--c) 54% calc(65% + var(--t)),
			transparent calc(67% + var(--t))
		),
		radial-gradient(
			farthest-side at 48% calc(-72% - var(--p)),
			transparent 70%,
			var(--c) 72% calc(84% + var(--t)),
			transparent calc(88% + var(--t))
		);
	background-size: var(--w) var(--h);
	background-position: calc(var(--w) / 2) calc(var(--h) / 2),
		-44px calc(var(--h) / 2);
	margin: 28px 0;
	display: inline-block;
	width: 100%;
	height: 26px;
}

.slick-dots {
	display: flex !important;
}

.classes__slide {
	&__text-photos {
		display: flex;
		align-items: center;
		height: 18rem;
		width: 41rem;
	}
}

li {
	list-style-type: none;
	@extend %font-family-aromo;
}

* {
	padding: 0;
	margin: 0;
}

.slick-wrapper {
	position: relative;
	max-width: 90%;
	width: 100rem;
	margin: 30px auto;
	min-width: 50%;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;

	justify-content: space-around;
	overflow: hidden;
}

.slide_1 {
	background: linear-gradient(
		45deg,
		hsla(184, 78%, 93%, 0.788),
		hsl(212, 92%, 90%),
		hsl(237, 88%, 91%)
	);
}

.slick-prev {
	left: -78px;
	background: url("/assets/icons/prev-btn.svg") no-repeat left;
	background-size: 66px; /* Устанавливаем размер изображения */
}
.slick-slide {
	min-height: 343px;
	max-width: 1240px;
	justify-content: center;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 98px;
	height: 98px;
	border: none;
	cursor: pointer;
	z-index: 100;
}
.slick-next {
	right: -78px;
	background: url("/assets/icons/next-btn.svg") no-repeat right;
	background-size: 66px; /* Устанавливаем размер изображения */
}

li[role="presentation"] {
	display: none;
}

#scroll-btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 100;
	width: 77px;
	height: 77px;
	background: none; /* Убираем фон */
	border: none;
	outline: none;
	cursor: pointer;
}

#scroll-btn::after {
	content: ""; /* Добавляем псевдоэлемент для вашего изображения */
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("/assets/icons/scroll.png");
	background-size: cover;
}
