.footer-content {
	display: grid;
	background: linear-gradient(
		to right,
		hsla(207, 100%, 91%, 0.788),
		hsla(184, 100%, 84%, 0.856),
		hsla(184, 87%, 79%, 0.808),
		hsla(193, 100%, 82%, 0.829),
		hsla(202, 100%, 87%, 0.774),
		hsla(216, 100%, 85%, 0.795),
		hsla(230, 100%, 84%, 0.856),
		hsla(227, 100%, 86%, 0.822),
		hsla(231, 97%, 87%, 0.801)
	);
	height: 15rem;
}
