.classes {
	text-align: center;
	margin: 40px auto;
	@extend %font-family-aromo_700;
	font-size: 2rem;
	text-transform: uppercase;
	&__container-img {
		max-width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas:
			"A A"
			"N D";
		gap: 0.5rem;
		background: url(/assets/icons/1613326244_13-p-krasivii-sinii-fon-gradient-20.jpg);
		border-radius: 7px;
		margin: 1rem;
		align-items: baseline;
	}
	&__container-img img {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 9px;
	}
	&__img1 {
		width: 100%;
		grid-area: A;
	}
	&__img2 {
		width: 100%;
		grid-area: N;
	}
	&__img3 {
		width: 100%;
		grid-area: D;
	}
	&__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 15rem;
		justify-content: space-between;
	}
	&__link {
		display: flex;
		background-color: $link-color;
		color: $text-link-color;
		border-radius: 50px;
		height: 2rem;
		width: 14rem;
		justify-content: space-around;
		align-items: center;
		@extend %font-family-aromo;
		text-decoration: none;
		&:hover {
			background: #6cabfd;
			color: #fff;
		}
	}
	&__paragraph {
		width: 23rem;
		@extend %font-family-aromo;
	}
	&__title {
		@extend %font-family-aromo_700;
	}
	&__text-photos {
		display: flex;
		align-items: center;
		height: 18rem;
		width: 41rem;
	}
	&__slide {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: 62px;
		margin: 2rem 2rem 2rem 2rem;
		box-shadow: -1px 6px 7px 0px rgba(34, 60, 80, 0.22);
		background: linear-gradient(
			88deg,
			hsl(124deg 80% 96% / 85%),
			hsl(212deg 91% 87% / 58%),
			hsl(238deg 87% 88% / 52%)
		);
		&:nth-child(2n) {
			background: linear-gradient(
				79deg,
				hsl(238deg 87% 88% / 46%),
				hsl(212deg 91% 87% / 56%),
				hsl(124, 80%, 96%)
			);
		}
	}
}
