.news {
	text-align: center;
	margin: 40px auto;
	text-transform: uppercase;
	font-size: 2rem;
	@extend %font-family-aromo_700;
	&__slide {
		background: #edf4f4;
		display: flex;
		width: 25rem;
		height: 32rem;
		flex-direction: column;
		align-items: center;
		border-radius: 62px;
		margin: 2rem 2rem 2rem 2rem;
		justify-content: space-evenly;
		box-shadow: -1px 6px 7px 0px rgba(34, 60, 80, 0.22);
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		width: 60%;
	}
	&__paragraph {
		@extend %font-family-aromo;
		padding: 1rem 2rem 1rem 2rem;
	}
	&__link {
		display: flex;
		background-color: #0007ab;
		color: $text-link-color;
		border-radius: 50px;
		height: 3rem;
		width: 15rem;
		justify-content: space-around;
		align-items: center;
		@extend %font-family-aromo;
		text-decoration: none;
		&:hover {
			background: #6cabfd;
			color: $text-link-color;
		}
		&:focus {
			background: rgb(4, 0, 255);
			color: $text-link-color;
		}
	}
	&__item {
		background-color: hsl(184, 23%, 95%);
		margin: 36px 24px 2px 2px;
		display: flex;
		align-items: center;
		font-size: 1rem;
		width: 41rem;
		height: 45rem;
		flex-direction: column;
		text-transform: none;
		justify-content: space-between;
	}
	&__box-container-arhiv {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
	}
	&__item-image {
		width: 100%;
	}
	&__title {
		text-align: center;
		margin: 2rem auto;
		font-size: 1rem;
		text-transform: uppercase;
	}
	&__item-description {
		@extend %font-family-aromo;
		font-size: 20px;
		line-height: 24px;
		margin: 0 34px 98px;
	}
	&__item-date {
		opacity: 0.5;
	}
}

.pagination {
	display: flex;
	list-style-type: none;
	padding: 0;
	justify-content: center;
	margin: 50px;
}

.pagination li {
	margin: 0 5px;
}

.pagination li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	background-color: #eff5f5;
	color: black;
	border-radius: 4px;
	@extend %font-family-aromo;
}

.pagination li a:hover {
	background-color: #ddd;
}

.pagination li a.active {
	background-color: #007bff;
	color: white;
}

.pagination li a.disabled {
	background-color: #eff5f5;
	color: grey;
	pointer-events: none;
}
