.news {
	text-align: center;
	margin: 40px auto;
	text-transform: uppercase;
	font-size: 2rem;
	@extend %font-family-aromo_700;
	&__slide {
		background: #edf4f4;
		display: flex;
		width: 25rem;
		height: 32rem;
		flex-direction: column;
		align-items: center;
		border-radius: 62px;
		margin: 2rem 2rem 2rem 2rem;
		justify-content: space-evenly;
		box-shadow: -1px 6px 7px 0px rgba(34, 60, 80, 0.22);
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		width: 60%;
	}
	&__paragraph {
		@extend %font-family-aromo;
		padding: 1rem 2rem 1rem 2rem;
	}
	&__link {
		display: flex;
		background-color: #0007ab;
		color: $text-link-color;
		border-radius: 50px;
		height: 3rem;
		width: 15rem;
		align-items: center;
		justify-content: space-around;
		align-items: center;
		@extend %font-family-aromo;
		text-decoration: none;
		&:hover {
			background: #6cabfd;
			color: $text-link-color;
		}
		&:focus {
			background: rgb(4, 0, 255);
			color: $text-link-color;
		}
	}
	&__item {
		background-color: hsl(184, 23%, 95%);
		margin: 36px 24px 2px 2px;
		display: flex;
		align-items: center;
		font-size: 1rem;
		width: 41rem;
		height: 45rem;
		flex-direction: column;
		text-transform: none;
		justify-content: space-between;

		cursor: pointer;
	}
	&__box-container-arhiv {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
	}
	&__item-image {
		width: 100%;
	}
	&__title {
		text-align: center;
		margin: 2rem auto;
		font-size: 1rem;
		text-transform: uppercase;
	}
	&__item-description {
		@extend %font-family-aromo;
		font-size: 20px;
		line-height: 24px;
		margin: 0 34px 98px;
	}
	&__item-date {
		opacity: 0.5;
	}
}

.pagination {
	display: flex;
	list-style-type: none;
	padding: 0;
	justify-content: center;
	margin: 50px;
}

.pagination li {
	margin: 0 5px;
}

.pagination li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	background-color: #eff5f5;
	color: black;
	border-radius: 4px;
	@extend %font-family-aromo;
}

.pagination li a:hover {
	background-color: #ddd;
}

.pagination li a.active {
	background-color: #007bff;
	color: white;
}

.pagination li a.disabled {
	background-color: #eff5f5;
	color: grey;
	pointer-events: none;
}

//Стили для общей страницы новостей, карточка новости выделяется при наведении
.news__item {
	padding: 10px;
	transition: all 0.3s ease;
}

.news__item:hover {
	background-color: #eafcff;
	border-color: #acf5ff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transform: translateY(-5px);
}

//Стили для индивидуальной страницы новости
.container {
	max-width: 850px;
	margin: 12rem auto 0 auto;
	padding: 20px;
}

.title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
	@extend %font-family-aromo_700;
}
.date {
	display: flex;
	justify-content: center;
	font-size: 14px;
	color: gray;
}
.poem {
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
	@extend %font-family-aromo;
}
.content {
	margin-bottom: 20px;
	@extend %font-family-aromo;
}
.gratitude {
	margin-top: 20px;
	@extend %font-family-aromo;
}
.slider {
	position: relative;
	max-width: 100%;
	margin: 20px 0;
}

.active {
	display: flex;
} /* Общие стили для кнопок */
.prev-btn,
.next-btn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px; /* Половина высоты кнопки для центрирования */
	padding: 21px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	transition: 0.6s ease;
	user-select: none;
	border: none; /* Убираем стандартные рамки кнопки */
	background: none; /* Убираем стандартный фон кнопки */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Стили для кнопки "влево" */
.prev-btn {
	left: 0; /* Позиционирование кнопки "влево" по левому краю */
	border-radius: 3px 0 0 3px; /* Округление только с левой стороны */
	background-image: url("/assets/icons/prev-btn.svg"); /* Фоновое изображение */
	background-size: contain; /* Масштабирование изображения внутри элемента */
	background-repeat: no-repeat; /* Без повторения изображения */
	background-position: center; /* Центрирование изображения */
}

/* Стили для кнопки "вправо" */
.next-btn {
	right: 0; /* Позиционирование кнопки "вправо" по правому краю */
	border-radius: 3px 0 0 3px; /* Округление только с правой стороны */
	background-image: url("/assets/icons/next-btn.svg"); /* Фоновое изображение */
	background-size: contain; /* Масштабирование изображения внутри элемента */
	background-repeat: no-repeat; /* Без повторения изображения */
	background-position: center; /* Центрирование изображения */
}

.back-link {
	display: block;
	text-align: center;
	margin-top: 20px;
}
.box-one {
	background: hsla(184, 23%, 95%, 1);
	width: 800px;
	padding: 10px 30px;
	margin: 30px 0px 40px 0;
}
.box-two {
	background: hsla(184, 23%, 95%, 1);
	display: flex;
	width: 800px;
	padding: 10px 30px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.news__button {
	font-size: 80%;
}
