.projects {
	text-align: center;
	margin: 40px auto;
	text-transform: uppercase;
	font-size: 2rem;
	@extend %font-family-aromo_700;
	&__slide {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: 62px;
		margin: 2rem;
		background: linear-gradient(
			91deg,
			rgba(156, 213, 226, 0.41),
			rgba(215, 237, 249, 0.58),
			rgba(211, 214, 248, 0.68),
			rgba(210, 216, 249, 0.67),
			rgba(212, 230, 247, 0.68),
			rgba(196, 230, 238, 0.69)
		);
		box-shadow: -1px 6px 7px 0px rgba(34, 60, 80, 0.22);
	}
	&__img {
		width: 40%;
	}
	&__title {
		@extend %font-family-aromo_700;
	}
	&__content-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 19rem;
		width: 23rem;
		justify-content: space-between;
	}
	&__heading {
		@extend %font-family-aromo_700;
		font-size: 1.5rem;
	}
	&__paragraph {
		@extend %font-family-aromo;
	}
	&__link {
		display: flex;
		background-color: #0007ab;
		color: $text-link-color;
		border-radius: 50px;
		height: 2rem;
		width: 15rem;
		justify-content: space-around;
		align-items: center;
		@extend %font-family-aromo;
		text-decoration: none;
		&:hover {
			background: #6cabfd;
			color: $text-link-color;
		}
		&:focus {
			background: rgb(4, 0, 255);
			color: $text-link-color;
		}
	}
}
