.classes {
	text-align: center;
	margin: 40px auto;
	@extend %font-family-aromo_700;
	font-size: 2rem;
	text-transform: uppercase;
	&__container-img {
		max-width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas:
			"A A"
			"N D";
		gap: 0.5rem;
		border-radius: 7px;
		margin: 1rem;
		align-items: baseline;
	}
	&__container-img img {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 9px;
	}
	&__img1 {
		width: 100%;
		grid-area: A;
	}
	&__img2 {
		width: 100%;
		grid-area: N;
	}
	&__img3 {
		width: 100%;
		grid-area: D;
	}
	&__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 15rem;
		justify-content: space-between;
	}
	&__link {
		display: flex;
		background-color: $link-color;
		color: $text-link-color;
		border-radius: 50px;
		height: 2rem;
		width: 14rem;
		justify-content: space-around;
		align-items: center;
		@extend %font-family-aromo;
		text-decoration: none;
		&:hover {
			background: #6cabfd;
			color: #fff;
		}
	}
	&__paragraph {
		width: 23rem;
		@extend %font-family-aromo;
	}
	&__title {
		@extend %font-family-aromo_700;
	}
	&__text-photos {
		display: flex;
		align-items: center;
		height: 18rem;
		width: 41rem;
	}
	&__slide {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: 62px;
		margin: 2rem 2rem 2rem 2rem;
		box-shadow: -1px 6px 7px 0px rgba(34, 60, 80, 0.22);
		background: linear-gradient(
			88deg,
			hsl(124deg 80% 96% / 85%),
			hsl(212deg 91% 87% / 58%),
			hsl(238deg 87% 88% / 52%)
		);
		&:nth-child(2n) {
			background: linear-gradient(
				79deg,
				hsl(238deg 87% 88% / 46%),
				hsl(212deg 91% 87% / 56%),
				hsl(124, 80%, 96%)
			);
		}
	}
}

.container__classes {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
}
.heading {
	background-color: hsla(242, 47%, 38%, 1);
	color: white;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	width: 70rem;
}
.branches,
.training {
	background-color: #7986cb;
	color: white;
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;
}
.branch-item,
.training-item {
	background-color: hsl(216, 68%, 67%);
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	width: 17rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.branch-item p,
.training-item p {
	margin: 5px 0;
}

.items {
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.items .item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 336px;
	height: 336px;

	overflow: hidden;
	transition: all 300ms ease-in-out;
	z-index: -1;
	opacity: 0;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item.active {
	opacity: 1;
	z-index: 99;
	box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
	z-index: 2;
	opacity: 0.25;
	transform: translate(-125%, -50%);
}

.item.next {
	z-index: 2;
	opacity: 0.25;
	transform: translate(25%, -50%);
}

.items .button-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 63rem;

	z-index: 100;
}

.button-container .button {
	color: #fff;
	font-size: 32px;
	cursor: pointer;
	position: relative;
	opacity: 0.75;
	transition: all 300ms ease-in-out;
}

.button-container .button:hover {
	opacity: 1;
}

.button-container .button:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	z-index: -99;
}

.button-container .button:nth-child(1) {
	float: left;
}

.button-container .button:nth-child(2) {
	float: right;
}
.container-sld {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.n {
	display: flex;
	justify-content: space-around;
	margin: 1rem;
}
