.classes {
	text-align: center;
	margin: 40px auto;
	@extend %font-family-aromo_700;
	font-size: 2rem;
	text-transform: uppercase;
	&__container-img {
		max-width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas:
			"A A"
			"N D";
		gap: 0.5rem;
		border-radius: 7px;
		margin: 1rem;
		align-items: baseline;
	}
	&__container-img img {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 9px;
	}
	&__img1 {
		width: 100%;
		grid-area: A;
	}
	&__img2 {
		width: 100%;
		grid-area: N;
	}
	&__img3 {
		width: 100%;
		grid-area: D;
	}
	&__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 15rem;
		justify-content: space-between;
	}
	&__link {
		display: flex;
		background-color: $link-color;
		color: $text-link-color;
		border-radius: 50px;
		height: 2rem;
		width: 14rem;
		justify-content: space-around;
		align-items: center;
		@extend %font-family-aromo;
		text-decoration: none;
		&:hover {
			background: #6cabfd;
			color: #fff;
		}
	}
	&__paragraph {
		width: 23rem;
		@extend %font-family-aromo;
	}
	&__title {
		@extend %font-family-aromo_700;
	}
	&__text-photos {
		display: flex;
		align-items: center;
		height: 18rem;
		width: 41rem;
	}
	&__slide {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: 62px;
		margin: 2rem 2rem 2rem 2rem;
		box-shadow: -1px 6px 7px 0px rgba(34, 60, 80, 0.22);
		background: linear-gradient(
			88deg,
			hsl(124deg 80% 96% / 85%),
			hsl(212deg 91% 87% / 58%),
			hsl(238deg 87% 88% / 52%)
		);
		&:nth-child(2n) {
			background: linear-gradient(
				79deg,
				hsl(238deg 87% 88% / 46%),
				hsl(212deg 91% 87% / 56%),
				hsl(124, 80%, 96%)
			);
		}
	}
}

.container__classes {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 12rem 0 0;
	&-title {
		background-color: rgb(47, 45, 124);
		color: white;
		padding: 20px;
		text-align: center;
		border-radius: 20px;
		width: 90rem;
		height: 25rem;
		box-shadow: 0px 5px 18px -8px rgba(34, 60, 80, 0.68);
	}
	&-branches-box1 {
		display: flex;
		justify-content: space-evenly;
		margin: 1rem;
		flex-direction: column;
		align-items: center;
		height: 20rem;
	}
	&-branches-box2 {
		display: flex;
		justify-content: space-evenly;
		margin: 1rem;
		flex-direction: column;
		align-items: center;
		height: 15rem;
	}
	&-addresses-box1 {
		display: flex;
		height: 11rem;
		align-items: flex-end;
		width: 75rem;
		justify-content: space-between;
	}
	&-addresses-box2 {
		display: flex;
		justify-content: flex-end;
		margin: 1rem;
		flex-direction: column;
		align-items: center;
		height: 16rem;
	}
}

.branches,
.training {
	background-color: hsla(202, 55%, 34%, 0.71);
	text-align: center;
	color: white;
	padding: 20px;
	margin: 20px 280px;
	border-radius: 20px;
	width: 55rem;
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	-webkit-box-shadow: 0px 5px 18px -8px rgba(34, 60, 80, 0.68);
	-moz-box-shadow: 0px 5px 18px -8px rgba(34, 60, 80, 0.68);
	box-shadow: 0px 5px 18px -8px rgba(34, 60, 80, 0.68);
}

.branch-item,
.training-item {
	background-color: hsl(216, 49%, 59%);
	padding: 10px;
	margin: 10px 0;
	border-radius: 15px;
	width: 20rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.training-item {
	background-color: hsla(242, 47%, 38%, 1);
}

.branch-item p,
.training-item p {
	margin: 5px 0;
}

.items {
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.items .item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 336px;
	height: 336px;
	overflow: hidden;
	transition: all 300ms ease-in-out;
	z-index: -1;
	opacity: 0;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item.active {
	opacity: 1;
	z-index: 99;
	box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
	z-index: 2;
	opacity: 0.25;
	transform: translate(-125%, -50%);
}

.item.next {
	z-index: 2;
	opacity: 0.25;
	transform: translate(25%, -50%);
}
.items .button-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 63rem;
	z-index: 100;
	display: flex;
	justify-content: space-between; /* Размещаем кнопки по краям */
	align-items: center; /* Центрирование по вертикали */
}

/* Стили для кнопок */
.button-container .button {
	color: #fff;
	font-size: 32px;
	cursor: pointer;
	position: relative;
	opacity: 0.75;
	transition: all 300ms ease-in-out;
}

/* Эффект наведения */
.button-container .button:hover {
	opacity: 1;
}

/* Стили для стрелок */
.button-container .button:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px; /* Размер стрелки */
	height: 50px; /* Размер стрелки */
	background-size: contain; /* Масштабирование изображения внутри элемента */
	background-repeat: no-repeat; /* Без повторения изображения */
}

/* Стрелка "влево" */
.button-container .button.prev:before {
	background-image: url("/assets/icons/prev-btn.svg");
}

/* Стрелка "вправо" */
.button-container .button.next:before {
	background-image: url("/assets/icons/next-btn.svg");
}
.container-sld {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	height: 500px;
	position: relative;
}

.training-information,
.box-information {
	display: flex;
	justify-content: space-evenly;
	margin: 1rem;
}

.box2 {
	width: 74rem;
	height: 15rem;
	margin: 20px 128px;
}
.box3 {
	width: 25rem;
}
.box4 {
	width: 41rem;
	height: 14rem;
}
.box5 {
	width: 88rem;
	height: 28rem;
	margin: 20px 3px;
}

.training-item-box1 {
	background-color: #2f2c7a;
	padding: 10px;
	margin: 10px 0;
	border-radius: 15px;
	width: 22rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.yu {
	width: 11rem;
	height: 8rem;
}
.box-rehabilitation {
	background-color: hsl(216, 50%, 60%);
	text-align: center;
	color: white;
	padding: 20px;
	margin: 20px 495px;
	border-radius: 20px;
	width: 28rem;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	-webkit-box-shadow: 0px 5px 18px -8px rgba(34, 60, 80, 0.68);
	-moz-box-shadow: 0px 5px 18px -8px rgba(34, 60, 80, 0.68);
	box-shadow: 0px 5px 18px -8px rgba(34, 60, 80, 0.68);
}

.container__swimming,
.container__football {
	margin: 15px 0;
}

.shell-box2 {
	display: flex;
	height: 30rem;
	align-items: flex-end;
	width: 68rem;
	justify-content: space-between;
}

.block-with-an-age-group {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 22rem;
}
.box-information2 {
	width: 20rem;
	height: 20rem;
}

.cooperation {
	background-color: #01723aa1;
	border-radius: 20px;
	width: 21rem;
	margin: auto;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.shell {
	display: flex;
	justify-content: center;
	margin: 1rem;
	flex-direction: column;
	align-items: center;
	height: 10rem;
}
