* {
	padding: 0;
	margin: 0;
}

.slick-wrapper {
	position: relative;
	max-width: 825px;
	width: 100%;
	margin: 0 auto;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
	justify-content: space-evenly;
}

.slide_1 {
	background: linear-gradient(
		45deg,
		hsla(184, 78%, 93%, 0.788),
		hsl(212, 92%, 90%),
		hsl(237, 88%, 91%)
	);
}

.slick-prev {
	left: -36px;
	background: url("/prev-btn.svg") no-repeat left;
}
.slick-slide {
	min-height: 343px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.slick-slide.active {
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 98px;
	height: 98px;
	border: none;
	cursor: pointer;
	z-index: 100;
}
.slick-next {
	right: -36px;
	background: url("/next-btn.svg") no-repeat right;
}

.classes__slide {
	display: flex;
	width: 41rem !important;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(
		45deg,
		hsla(184, 78%, 93%, 0.788),
		hsl(212, 92%, 90%),
		hsl(237, 88%, 91%)
	);
	border-radius: 62px;
}

.div1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.classes {
	text-align: center;
}
