* {
	padding: 0;
	margin: 0;
}

.slick-wrapper {
	position: relative;
	max-width: 100rem;
	width: 100%;
	margin: 30px auto;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
	justify-content: flex-start;
}

.slide_1 {
	background: linear-gradient(
		45deg,
		hsla(184, 78%, 93%, 0.788),
		hsl(212, 92%, 90%),
		hsl(237, 88%, 91%)
	);
}

.slick-prev {
	left: -78px;
	background: url("/prev-btn.svg") no-repeat left;
	background-size: 66px; /* Устанавливаем размер изображения */
}
.slick-slide {
	min-height: 343px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.slick-slide.active {
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 98px;
	height: 98px;
	border: none;
	cursor: pointer;
	z-index: 100;
}
.slick-next {
	right: -78px;
	background: url("/next-btn.svg") no-repeat right;
	background-size: 66px; /* Устанавливаем размер изображения */
}

.classes__slide {
	display: flex;
	width: 41rem !important;
	flex-direction: row;
	align-items: center;

	border-radius: 62px;
	margin: 2rem 2rem 2rem 2rem;
}

.slide-colour-1 {
	background: linear-gradient(
		88deg,
		hsl(124deg 80% 96% / 85%),
		hsl(212deg 91% 87% / 58%),
		hsl(238deg 87% 88% / 52%)
	);
}
.slide-colour-2 {
	background: linear-gradient(
		79deg,
		hsl(238deg 87% 88% / 46%),
		hsl(212deg 91% 87% / 56%),
		hsl(124, 80%, 96%)
	);
}

li[role="presentation"] {
	display: none;
}

.projects {
	text-align: center;
	margin: 40px auto;
}
